<div focusTrap class="container">
  <header ariaRole="header" id="header" tabindex="-1"  class="header">
    <h1 tabindex="0">Angular A11y APP</h1>
    <h3 class="sub-header" tabindex="0">This app make use of Ngx-angular-a11y</h3>
  </header>
  <div  class="main-layout">
    <aside ariaRole="aside" id="aside" tabindex="-1"  class="sidebar">
      <app-sidebar></app-sidebar>
    </aside>
    <main ariaRole="main" id="main-content" tabindex="-1" class="main">
      <app-task-list></app-task-list>
    </main>
  </div>
  <footer ariaRole="contentinfo" id="footer" tabindex="-1" class="footer"><h3 tabindex="0">Footer</h3></footer>
</div>


