

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 1em 0;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #575757;
}


